* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html { font-size:calc(100vw/7.5); }

img{
    max-width:100%;
}
ul,li{list-style-type:none;}
a{color:#000;text-decoration:none;}

input{
    outline:none;
}
header{
    width:100%;
    margin:0 auto;
    padding:0 3%;
    position:relative;
    height: 1.42rem;
}
.header-inner{
    height: 1.42rem;
    padding:0.2rem 0;
    overflow: hidden;
}
.common{
    padding: 0 3%;
    height: 9.5rem;
}

.logo{
    width:auto;
    height:0.9rem;
    float:left;
}
.search{
    width:0.5rem;
    float:right;
    margin:0.2rem 0 0 0;
    vertical-align: top;
}

.header-nav{
    width:0.5rem;
    float:right;
    margin:0.2rem 0 0 0.2rem;
    height: 0.54rem;
}
.header-nav img{
    vertical-align: top;
}

.hidden-nav{
    transition: all 0.5s;
    padding: 5% 0 0 0;
    color: #333;
    font-size: 0.32rem;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: -110%;
    top: 0;
    text-align: center;
    line-height: 3;
    z-index: 999;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
.hidden-nav li a{
    color:#333;
}
.visible-nav{
    left: 0;
    transition: all 0.5s;
}
.search-part{
    width:100%;
    position:absolute;
    background:#fff;
    right:0;
    top:1.3rem;
    overflow:hidden;
    padding:0.1rem 0.1rem;
    border-radius:0.1rem;
    z-index: 999;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    display:none;
}

.search-input{
    width:90%;
    height:0.7rem;
    line-height:0.7rem;
    border:solid 1px #ddd;
    border-radius:0.1rem;
    padding:0 0 0 3%;
    float:left;
}

.search-icon{
    width:0.44rem;
    float:right;
    margin:0.1rem 0 0 0;
}

/* 主要内容 */
.poster{
    background: url(../image/banner-top.jpg) no-repeat center center;
	position: relative;
	min-width:100%;height:4rem;
}
.poster-text{
    width:100%;
    position:absolute;
    left:0;top:50%;
    transform: translate(0,-50%);
    color:#d6e7ff;
    font-size:0.28rem;
    padding:0 3%;
    line-height:1.5;
}
.poster-text1{
	font-size:0.36rem;
	color:#fff;
}
.main{
	width:100%;
	margin:0 auto;
	padding:0 0 5% 0;
	overflow: hidden;
}
.main-menu{
	width:100%;
}
.main-menu-title{
	height:0.9rem;
	line-height:0.9rem;
	padding:0 0 0 0.8rem;
	position:relative;
	font-size:0.36rem;
	background:#84a8ee;
	color:#fff;
}
.main-menu-line{
	width:0.3rem;
	position:absolute;
	left:0.3rem;
	top:50%;
	transform: translateY(-50%);
}

.main-menu-line span{
	width:100%;
	height:0.04rem;
	background:#fff;
	margin:0.06rem 0;
	display:block;
	line-height:1;
}
.main-content {
    width: 100%;
	float: none;
	margin-top:0.2rem;
}
.main-content-title{
	text-align: center;
    height: 0.8rem;
    position: relative;
    margin: 0.1rem 0 0.5rem 0;
	overflow: visible;
	border-bottom: solid 1px #dddddd;
}
.main-content-title-top{
	font-size: 0.36rem;
    position: absolute;
    top:0;
    text-align: center;
    display:inline-block;
    padding: 0;
    margin:auto;
	line-height: 0.8rem;
	color: #84a8ee;
    border-bottom: solid 0.04rem #84a8ee;
    transform: translateX( -50%);
}
.main-content-title-bottom{
	font-size: 0.28rem;
    line-height: 0.8rem;
    display: inline-block;
    float: none;
    position: absolute;
    bottom: -0.8rem;
    left: 50%;
    padding: 0 0 0 0.4rem;
    transform: translateX(-50%);
	white-space: nowrap;
	color: #666666;
    background: url(../image/icon14.png) no-repeat left center;
}
.main-content-title-bottom a {
    color: #666666;
}
.main-content-bottom{
	padding: 5%;
}
/* 主要内容结束 */

/* 底部开始 */
.bottom{
    background:#2c2d2c;
    color:#fff;
    font-size:0.28rem;
}
.bottom a{
    color:#fff;
}
.botttom-inner{
    padding:3% 3%;
}
.bottom-top{
    width:100%;
}
.bottom-logo img{
    width:auto;
}

.bottom-img{
    padding:3% 0;
}
.bottom-img img{
    width:0.72rem;
    margin:0 0.3rem 0 0;
}
.bottom-middle{
    width:100%;
    margin:0;
}
.bottom-middle-title{
    font-size:0.32rem;
    padding:4% 0;
}
.bottom-middle-content{
    font-size:0.28rem;
    line-height:2;
    padding:0;
}
.bottom-bottom{
    width:100%;
}
.bottom-bottom-title{
    font-size:0.32rem;
    padding:3% 0;
}
.bottom-bottom a{
    display:block;
    float:left;
    width:25%;
    float:left;
    margin:0;
    line-height:2;
    font-size:0.28rem;
}
.bottom-logo{
    padding:5% 0;
}
.copyright{
    background:#262626;
    text-align:center;
    color:#fff;
    padding:3% 2%;
    line-height:1.4;
}
/* 底部结束 */