.main-content-bottom{
    margin:12% 0 1% 0;
    padding: 1% 2%;
    overflow: hidden;
}
.main-content-bottom li{
    width: 49%;
    float: left;
    margin: 0 2% 2% 0;
    text-align: center;
    border: solid 1px #eeeeee;
    padding: 0 0 3% 0;
    position: relative;
}
.main-content-bottom li:nth-child(2n){
    margin-right: 0;
}
.main-content-bottom li a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.main-content-bottom li a img{
    margin: 0.3rem 0 0.2rem 0;
}
.product-name{
    font-size: 0.28rem;
    padding: 0 0.1rem;
    color: #444444;
    height: 0.32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-more{
    height: 0.6rem;
    line-height: 0.6rem;
    margin: 0.55rem auto 0;
    width: 2.16rem;
    color:#84a8ee;
    border-radius: 1px;
    font-size: 0.28rem;
}
.product-icon{
    line-height: 0.52rem;
    font-size: 0.24rem;
    padding: 0 0.1rem;
    background: #84a8ee;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}