.main-content-bottom{
    margin:12% 0 1% 0;
    padding: 1% 2%;
    overflow: hidden;
}
.main-content-bottom li{
	background: url("../image/service1.jpg") no-repeat center center/cover;
	width: 100%;
    margin: 0 0 3% 0;
	height: 3.3rem;
	position: relative;
}
.main-content-bottom li:nth-child(2n){
	background: url("../image/service2.jpg");
}
.text{
	color: #fff;
	padding: 15% 5% 4% 5%;
	width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../image/bg5.png) no-repeat center bottom;
    padding: 15% 5% 4% 5%;
	line-height: 1.4;
	font-size: 0.28rem;
}
.text1{
	font-size: 0.36rem;
}